@import url("./layout/sidebar.css");
@import url("./layout/mainContent.css");

@import url("./page/myDriver.css");

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 14px;
    width: 100svw;
    height: 100svh;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar{
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0);
    padding: 10px 5px;
    box-sizing: border-box;
}

.main{
    width: calc(100% - 200px);
    height: 100%;
    padding: 10px 8px;
    box-sizing: border-box;
    /* background-color: rgba(210, 210, 210, 0.758); */
}