.main-header-driver{
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: rgba(215, 215, 215, 0.611);
    border-radius: 10px;
}

.main-header-driver>.header-toolbar-left{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header-driver>.header-toolbar-right{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-header-driver>.header-toolbar-right>*+*{
    margin-left: 15px;
}

.main-header-driver>.header-toolbar-right>.status{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(59, 255, 59);
}

.main-header-driver>.header-toolbar-left>.client-id{
    display: flex;
    align-items: center;
}

.main-header-driver>.header-toolbar-right>.partner-id{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-header-driver>.header-toolbar-left>.client-id>*+*{
    margin-left: 15px;
}

.main-header-driver>.header-toolbar-right>.partner-id>*+*{
    margin-left: 15px;
}

.main-header-driver>.header-toolbar-right>.connect-status:hover{
    cursor: pointer;
    animation: toRed 1.2s forwards;
}

.main-content-driver{
    padding: 20px 15px 0 15px;
    box-sizing: border-box;
}

.main-content-driver>.main-content-nuclear-driver{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.main-content-driver>.main-content-nuclear-driver::-webkit-scrollbar {
  width: 5px;
}


.main-content-driver>.main-content-nuclear-driver::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.main-content-driver>.main-content-nuclear-driver::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


.main-content-driver>.main-content-nuclear-driver::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content-driver>.main-content-nuclear-driver>table{
    width: 100%;
    max-height: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.main-content-driver>.main-content-nuclear-driver>table>thead{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

.main-content-driver>.main-content-nuclear-driver>table>tbody{
    width: 100%;
    height: calc(100% - 50px);
}

.main-content-driver>.main-content-nuclear-driver>table tr{
    width: 100%;
    height: 50px;
}

.main-content-driver>.main-content-nuclear-driver>table th, td{
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    max-height: 50px;
    text-align: left;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(1){
    width: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(3){
    min-width: 150px;
    width: 180px;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(6){
    min-width: 80px;
    width: 80px;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(7){
    width: 180px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(2){
    min-width: calc(100% - 30px - 100px * 3 - 130px * 3);
    width: calc(100% - 30px - 150px * 5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content-driver>.main-content-nuclear-driver>table th:nth-child(4),
.main-content-driver>.main-content-nuclear-driver>table th:nth-child(5){
    min-width: 130px;
    width: 150px;
}

.main-content-driver>.main-content-nuclear-driver>table tr>.name{
    min-width: calc(100% - 30px - 100px * 3 - 130px * 3);
    width: calc(100% - 30px - 150px * 5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-content-driver>.main-content-nuclear-driver>table td:nth-child(7){
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}

.main-content-driver>.main-content-nuclear-driver>table td:nth-child(7) i:nth-child(1),
.main-content-driver>.main-content-nuclear-driver>table td:nth-child(7) i:nth-child(2),
.main-content-driver>.main-content-nuclear-driver>table td:nth-child(7) i:nth-child(3),
.main-content-driver>.main-content-nuclear-driver>table td:nth-child(7) i:nth-child(4){
    font-size: 13.5px;
}

.sort-icon{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

.sort-icon>*+*{
    margin-left: 10px;
}

.hover-row{
    display: none;
}

.main-content-driver>.main-content-nuclear-driver>table>tbody>tr:hover .hover-row{
    display: block;
}

@keyframes toRed{
    from {color: black;}
    to {color: red;}
}